.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-inline-size: 375px;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding-inline-start: var(--padding-mobile-screen);
  padding-inline-end: var(--padding-mobile-screen);
  padding-block-start: var(--padding-mobile-screen);
  padding-block-end: var(--padding-mobile-screen);
  min-height: 668px;
  height: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: " ";
  display: block;
  position: absolute;
  width: var(--decorated-zone-size);
  height: var(--decorated-zone-size);
  border-top: 1px solid var(--color-decorated-zone);
  border-right: 1px solid var(--color-decorated-zone);
  top: var(--padding-mobile-screen);
  right: var(--padding-mobile-screen);
}

.decorated-zone::after {
  content: " ";
  display: block;
  position: absolute;
  width: var(--decorated-zone-size);
  height: var(--decorated-zone-size);
  border-bottom: 1px solid var(--color-decorated-zone);
  border-left: 1px solid var(--color-decorated-zone);
  bottom: var(--padding-mobile-screen);
  left: var(--padding-mobile-screen);
}

.rec {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  gap: var(--gap-s);
  top: var(--padding-mobile-screen);
  right: var(--padding-REC-mobile-screen);
}

.rec::before {
  content: "REC";
  color: var(--accent-color);
  font-family: var(--font-family), monospace;
  font-weight: var(--font-weight-main);
  font-size: var(--font-size);
  line-height: 25px;
}

.rec::after {
  content: " ";
  display: block;
  width: var(--point-size);
  height: var(--point-size);
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  position: relative;
  grid-row: 1 / auto;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.header__theme-menu-button {
  font-family: var(--font-family), monospace;
  color: var(--color-button);
  font-size: var(--font-size);
  font-weight: var(--font-weight-main);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding: var(--padding-button);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-button-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.theme-light .header__theme-menu-button_type_light {
  border: 1px solid currentColor;
}

.theme-dark .header__theme-menu-button_type_dark {
  border: 1px solid currentColor;
}

.theme-auto .header__theme-menu-button_type_auto {
  border: 1px solid currentColor;
}

.header_title {
  font-family: var(--font-family);
  font-size: var(--title-size_mobile);
  text-shadow: var(--text-shadow-header);
  grid-row: 2 / auto;
  color: var(--title-color);
  line-height: var(--line-height);
}

.title-decor {
  background-color: var(--accent-color);
  font-family: var(--font-family), monospace;
  font-size: var(--font-size);
  font-weight: var(--font-weight-mini-title);
  color: var(--text-color-mini-title);
  line-height: var(--line-height-main);
}

.title-decor_another {
  font-weight: var(--font-weight-main);
}

.paragraph {
  position: relative;
  grid-row: 3 / auto;
  justify-self: center;
  align-self: center;
}

.link_text a {
  font-family: var(--font-family);
  font-size: var(--font-size);
  text-shadow: var(--text-shadow-footer);
  color: var(--text-color-main);
  line-height: var(--line-height-link);
  text-decoration: none;
}

.link_text a:hover {
  border-bottom: 1px solid var(--text-color-main);
}

.link_text a:focus-visible {
  outline: none;
  border: 1px solid var(--text-color-main);
}

.main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding-inline-start: var(--padding-mobile-screen);
  padding-inline-end: var(--padding-mobile-screen);
  margin-block-start: var(--margin-block-mobile-screen);
  margin-block-end: var(--margin-block-mobile-screen);
  gap: var(--gap-l);
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-m);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

.wrapper_another {
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.title_section {
  font-family: var(--font-family), monospace;
  color: var(--title-color-section);
  font-size: var(--font-size);
  font-weight: var(--font-weight-mini-title);
}

.description {
  font-family: var(--font-family), monospace;
  color: var(--text-color-main);
  font-size: var(--font-size);
  font-weight: var(--font-weight-main);
  line-height: var(--line-height-main);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content-section_gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-s);
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding-inline-start: var(--padding-mobile-screen);
  padding-inline-end: var(--padding-mobile-screen);
  padding-block-start: var(--padding-mobile-screen);
  padding-block-end: var(--padding-mobile-screen);
  min-height: 668px;
  height: 100vh;
}

.footer_title {
  font-family: var(--font-family);
  font-size: var(--title-size_mobile);
  text-shadow: var(--text-shadow-footer);
  grid-row: 2 / auto;
  justify-self: center;
  color: var(--title-color);
  line-height: var(--line-height);
}


@media (width >= 768px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    padding-inline-start: var(--padding-desktop-screen);
    padding-inline-end: var(--padding-desktop-screen);
    padding-block-start: var(--padding-desktop-screen);
    padding-block-end: var(--padding-desktop-screen);
  }

  .decorated-zone::before {
    top: var(--padding-desktop-screen);
    right: var(--padding-desktop-screen);
  }
    
  .decorated-zone::after {
    bottom: var(--padding-desktop-screen);
    left: var(--padding-desktop-screen);
  }

  .rec {
    top: var(--padding-desktop-screen);
    right: var(--padding-REC-desktop-screen);
  }

  .main {
    padding-inline-start: var(--padding-desktop-screen);
    padding-inline-end: var(--padding-desktop-screen);
    margin-block-start: var(--margin-block-desktop-screen);
    margin-block-end: var(--margin-block-desktop-screen);
    gap: var(--gap-xl);
  }

  .content-section {
    grid-template-columns: 1fr 2fr;
  }

  .wrapper {
    grid-column: 2 / 3;
  }

  .wrapper_another {
    grid-column: 1 / 3;
  }

  .title_section {
    grid-column: 1 / 2;
  }

  .paragraph {
    grid-column: 2 / auto;
  }

  .header_title {
    font-size: var(--title-size_desktop);
    grid-column: 1 / 3;
    margin-left: -20px;
  }

  .header__theme-menu {
    grid-column: 2 / auto;
  }

  .content-section_gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-m);
  }

  .image_sunset {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .image_ice-cream {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .image_tape {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .image_books {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .image_street {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .gallery_title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .footer {
    padding-inline-start: var(--padding-desktop-screen);
    padding-inline-end: var(--padding-desktop-screen);
    padding-block-start: var(--padding-desktop-screen);
    padding-block-end: var(--padding-desktop-screen);
  }

  .footer_title {
    font-size: var(--title-size_desktop);
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
    padding-inline-start: var(--padding-desktop-screen);
    padding-inline-end: var(--padding-desktop-screen);
    padding-block-start: var(--padding-desktop-screen);
    padding-block-end: var(--padding-desktop-screen);
  }

  .header__theme-menu {
    grid-column: 2 / 3;
    justify-self: center;
    align-self: self-start;
  }

  .paragraph {
    grid-column: 2 / 4 ;
    justify-self: end;
    inline-size: 48vw;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: var(--gap-s);
  }

  .header_title {
    font-size: var(--title-size_desktop);
    grid-column: 1 / 4;
    margin-left: -20px;
  }

  .content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-m);
  }

  .wrapper {
    grid-column: 2 / 4;
  }

  .wrapper_another {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .title_section {
    grid-column: 1 / 2;
  }
}